<!-- Portfolio Modals-->

<!--###################################### BLOG SITE MODAL #######################################-->
<div class="portfolio-modal modal fade" id="blogSite" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Blog Website</h2>
                            <p class="item-intro text-muted">Below is a short demo of the website</p>

                            <span><strong>Website link:  </strong> <a href="https://test-blog-upload.herokuapp.com/">Blog Website</a></span><br>
                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/blog-with-users-start">Github repository</a></span><br>
                            <span><strong>Category:</strong> Web Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/7IPze_PIL-w">
                            </iframe>
                            <p>This is a functional informational website where people can exchange ideas online. It has the capability to create, read, store, and edit blogs. Users can even leave comments on the blogs they've read, opening up each blog for critique and discussions. Do note that it is build so that only the administrator can create, edit, and delete blogs from teh database. Also, this is a capstone project made for "100 days of code" udemy class.  </p>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Flask</li>
                                            <li>Bootstrap</li>
                                            <li>werkzeug.security</li>
                                            <li>sqlalchemy</li>
                                            <li>Heroku Postgres</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Features </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Authentication</li>
                                            <li>Database</li>
                                            <li>Password hashing</li>
                                            <li>CRUD functionalities</li>
                                            <li>Deployed on Heroku</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### FOOD NUTRITION MODAL #######################################-->
<div class="portfolio-modal modal fade" id="foodNutrition" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Food Nutrition</h2>
                            <p class="item-intro text-muted">Below are the links where you can review and download the app</p>

                            <span><strong>Download the app:  </strong> <a href="{{ url_for('download_app') }}">Food Nutrition apk <i class="fa fa-download"></i></a></span><br>
                            <span><strong>View the Front-end code:  </strong> <a href="https://github.com/khmrmtl/food_nutrition">Github repository</a></span><br>
                            <span><strong>View the Back-end code:  </strong> <a href="https://github.com/khmrmtl/food-nutrition-api">Github repository</a></span><br>
                            <span><strong>Category:</strong> Mobile Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/94Sl7haxbZk">
                            </iframe>
                            <p>Food nutrition is a mobile application that gives nutritional facts about the food entered by the user. The app could prove useful to the people who are very conscious about their health and on what they eat. </p>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">

                                        <span><strong>Front-end:</strong></span>
                                        <ul class="list-inline">
                                            <li>Flutter</li>
                                            <li>http</li>
                                            <li>flutter_html</li>
                                        </ul>
                                        <span><strong>Back-end:</strong></span>
                                        <ul class="list-inline">
                                            <li>Flask</li>
                                            <li>Beautiful soup(bs4)</li>
                                            <li>requests</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Features </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Release application(apk)</li>
                                            <li>Custom API</li>
                                            <li>Web scraping</li>
                                            <li>http calls</li>
                                            <li>Back-end deployed on Heroku</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### MYTODO SITE MODAL #######################################-->
<div class="portfolio-modal modal fade" id="todoSite" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">My TODO Website</h2>
                            <p class="item-intro text-muted">Below is a short demo of the website</p>

                            <span><strong>Website link:  </strong> <a href="https://motal-todo-list.herokuapp.com/">MyTodo List</a></span><br>
                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/to-do-website">Github repository</a></span><br>
                            <span><strong>Category:</strong> Web Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/fIe-ulVeyIw">
                            </iframe>
                            <p>A user authenticated todo website where each user has their unique list, all while being able to create, delete and edit todos. Tell me what you intent to do, and together we will monitor your progress </p>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Flask</li>
                                            <li>Bootstrap</li>
                                            <li>werkzeug.security</li>
                                            <li>sqlalchemy</li>
                                            <li>Heroku Postgres</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Features </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Authentication</li>
                                            <li>Database</li>
                                            <li>Password hashing</li>
                                            <li>CRUD functionalities</li>
                                            <li>Deployed on Heroku</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### PDF TO SPEECH MODAL #######################################-->
<div class="portfolio-modal modal fade" id="pdfToSpeech" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">PDF TO SPEECH</h2>
                            <p class="item-intro text-muted">Below is a short demo of the website</p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/pdf-to-speech">Github repository</a></span><br>
                            <span><strong>Category:</strong> Web Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/0_HvLvxdYak">
                            </iframe>
                            <p>A web application that takes in a pdf file and converts the text into an mp3(speech) file. After which, it provides a downloadable link for the mp3 files generated. </p>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Flask</li>
                                            <li>Bootstrap</li>
                                            <li>PyPDF2</li>
                                            <li>gtts(Google text to speech)</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### TYPING SPEED TEST MODAL #######################################-->
<div class="portfolio-modal modal fade" id="typingTest" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">TYPING SPEED TEST</h2>
                            <p class="item-intro text-muted">Below is a short demo of the application</p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/typing-speed-test">Github repository</a></span><br>
                            <span><strong>Category:</strong> Desktop Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/yghcEBdI8G4">
                            </iframe>
                            <p> A simple desktop application to put your typing skills to the test. In a minute of typing, the application calculates the user's WPM and CPM </p>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Python</li>
                                            <li>tkinter</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### PORTFOLIO PROJECT #######################################-->
<div class="portfolio-modal modal fade" id="portfolioProject" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">PORTFOLIO</h2>
                            <p class="item-intro text-muted">This website itself is the portfolio </p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/portfolio">Github repository</a></span><br>
                            <span><strong>Category:</strong> Web Development</span><br><br>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Flask</li>
                                            <li>smtplib</li>
                                            <li>Heroku</li>
                                        </ul>
                                        <strong>Feature </strong>
                                        <ul class="list-inline">
                                            <li>Email automation (used in "contact me")</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--###################################### WATERMARK MODAL #######################################-->
<div class="portfolio-modal modal fade" id="watermark" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">WATERMARK APPLICATION</h2>
                            <p class="item-intro text-muted">Below is a short demo of the application</p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/WatermarkingDesktopApp">Github repository</a></span><br>
                            <span><strong>Category:</strong> Desktop Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/1dEm_tD4g6M">
                            </iframe>
                            <p>An application that puts in a user defined watermark on a selected image. </p>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Python</li>
                                            <li>tkinter</li>
                                            <li>PIL</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--###################################### SELENIUM PROJECT MODAL #######################################-->
<div class="portfolio-modal modal fade" id="selenium" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">SELENIUM PROJECT</h2>
                            <p class="item-intro text-muted">Below is a short demo of the application, Note: the demo has custom input.</p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/data_entry_capstone">Github repository</a></span><br>
                            <span><strong>Category:</strong> Web Automation</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/2HovCajKxkc">
                            </iframe>
                            <p>This is a project fro a udemy class. It scrapes data from zillow website and enters the collected data into a google form. Do note that in the demo the scraping part was not included since zillow website created endless captcha after multiple trials. </p>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Python</li>
                                            <li>selenium</li>
                                            <li>web driver</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### BREAKOUT GAME MODAL #######################################-->
<div class="portfolio-modal modal fade" id="breakout" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">BREAKOUT GAME</h2>
                            <p class="item-intro text-muted">Below is a short demo of the application.</p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/Breakout-game">Github repository</a></span><br>
                            <span><strong>Category:</strong> Game/Desktop Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/IdsRzfJHinY">
                            </iframe>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Python</li>
                                            <li>turtle</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### TURTLE CROSSING GAME MODAL #######################################-->
<div class="portfolio-modal modal fade" id="turtleCrossing" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">TURTLE CROSSING GAME</h2>
                            <p class="item-intro text-muted">Below is a short demo of the application.</p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/turtle-crossing">Github repository</a></span><br>
                            <span><strong>Category:</strong> Game/Desktop Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/8uU4bExIcjQ">
                            </iframe>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Python</li>
                                            <li>turtle</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--###################################### ARDUINO PROJECT MODAL #######################################-->
<div class="portfolio-modal modal fade" id="arduinoProject" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">MINI MUSICAL KEYBOARD</h2>
                            <p class="item-intro text-muted">Below is a short demo of the project.</p>

                            <span><strong>Category:</strong> Arduino Project</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/QXMeVH4xfUo">
                            </iframe>

                            <button type="button" class="collapsible">View Code</button>
                            <div class="content">
                              <pre class="line-numbers">
                                  <code>
<!--  ####### arduino code display ##########-->
int buttonDo = 13;
int buttonRe = 12;
int buttonMi = 11;
int buttonFa = 10;
int buttonSo = 7;
int buttonLa = 6;
int buttonTi = 5;
int buttonDo2 = 4;

void setup()
{
  pinMode(buttonDo, INPUT);
  pinMode(buttonRe, INPUT);
  pinMode(buttonMi, INPUT);
  pinMode(buttonFa, INPUT);
  pinMode(buttonSo, INPUT);
  pinMode(buttonLa, INPUT);
  pinMode(buttonTi, INPUT);
  pinMode(buttonDo2, INPUT);
  pinMode(3, OUTPUT);
  Serial.begin(9600);
}

void loop()
{

  int input1=digitalRead(buttonDo);
  int input2=digitalRead(buttonRe);
  int input3=digitalRead(buttonMi);
  int input4=digitalRead(buttonFa);
  int input5=digitalRead(buttonSo);
  int input6=digitalRead(buttonLa);
  int input7=digitalRead(buttonTi);
  int input8=digitalRead(buttonDo2);

  if(input1==HIGH){       //if 1st button is pressed, play
    tone(3,261);          // c note
  }
  if(input2==HIGH){       //if 2nd button is pressed, play
    tone(3,294);          // d note
  }
  if(input3==HIGH){       //if 3rd button is pressed, play
    tone(3,329);          // e note
  }
  if(input4==HIGH){       //if 4th button is pressed, play
    tone(3,349);          // f note
  }
  if(input5==HIGH){       //if 5th button is pressed, play
    tone(3,392);          // g note
  }
  if(input6==HIGH){       //if 6th button is pressed, play
    tone(3,440);          // a note
  }
  if(input7==HIGH){       //if 7th button is pressed, play
    tone(3,493);          // b note
  }
  if(input8==HIGH){       //if 8th button is pressed, play
    tone(3,523);          // C note
  }

  delay(500);
  noTone(3);
}
                                  </code>
                              </pre>
                            </div>

                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--###################################### SNAKE GAME MODAL #######################################-->
<div class="portfolio-modal modal fade" id="snake" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{url_for('static', filename='assets/images/close-icon.svg') }}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">SNAKE GAME</h2>
                            <p class="item-intro text-muted">Below is a short demo of the application.</p>

                            <span><strong>View the code:  </strong> <a href="https://github.com/khmrmtl/snake">Github repository</a></span><br>
                            <span><strong>Category:</strong> Game/Desktop Application</span>

                            <iframe style="box-sizing: border-box;
                                    width: 100%;
                                    height: 500px;
                                    padding: 50px;"
                                src="https://www.youtube.com/embed/G7RkQEZxM8U">
                            </iframe>

                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card" style="background-color: rgba(0,0,0,0.05);">
                                      <div class="card-header" style="background-color: #343a40; color: white; ">
                                        <br><strong>Technologies used </strong><br><br>
                                      </div>
                                      <div class="card-body">
                                        <ul class="list-inline">
                                            <li>Python</li>
                                            <li>turtle</li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>

                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>